# SUPABASE_URL: Your Supabase project URL
VITE_SUPABASE_URL="https://hagvpsllnnizyyzomqyd.supabase.co"

# SUPABASE_ANON_KEY: Your Supabase project anonymous key
VITE_SUPABASE_ANON_KEY="sb_publishable_6OC9Mw9BpfIbEdDt9UHdqw__2OUlnSJ"
